.ss-body {
    width: 100%;
}

.ss-body h2 {
    padding: 6px 0;
    font-size: 17px;
    font-weight: 600;
}

.ss-body .ss-item {
    display: flex;
    align-items: center;
    padding: 8px 3px;
}
.ss-body .ss-item:hover {
    background: #eee;
    cursor: pointer;
}

.ss-icon {
    margin-right: 12px;
    font-size: 26px;
}

.ss-body .ss-item-info {
    display: flex;
    flex-direction: column;
}

.ss-body .ss-item-info p {
    font-weight: 700;
}

.ss-body .ss-item-info span {
    font-size: 13px;
}